<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Library</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>

<div class="upperBar">

    <h1>Book Library Dashboard</h1>

    <input type="submit" value="Go to API"
           onclick="window.location='/api';"/>

</div>

<div class="select-list-category" th:unless="${#lists.isEmpty(allCategories)}">
    Select a category: <select id="category.select">
        <option th:each="i : ${allCategories}" th:value="${i}" th:text="${i}"
                th:selected="${i}==${category}"></option>
    </select>
</div>

<div class="grid-container" th:unless="${#lists.isEmpty(books)}">

    <div class="grid-item" th:each="sb : ${books}">

        <div class="grid-item-img">
            <img src="img/noThumbnail.png" th:src="${sb.thumbnailUrl}" alt=""/>
        </div>
        <div class="grid-item-title">
            <p th:text="${sb.title}">Book Title</p>
        </div>
        <div class="grid-item-rating">
            Rating: <span class="book-div-value" th:if="${sb.averageRating != null}" th:text="${sb.averageRating}">0.00</span>
            <span class="book-div-value" th:unless="${sb.averageRating != null}">0.00</span>
        </div>
        <div class="grid-item-date">
            Publication date: <span class="book-div-value" th:if="${sb.publishedDate != null}" th:text="${{sb.publishedDate}}">13/01/2019</span>
            <span class="book-div-value" th:unless="${sb.publishedDate != null}">unknown</span>
        </div>
        <div class="grid-item-publisher">
            Publisher: <span class="book-div-value" th:if="${sb.publisher != null}" th:text="${sb.publisher}">Publisher</span>
            <span class="book-div-value" th:unless="${sb.publisher != null}">unknown</span>
        </div>

    </div>

</div>

<script th:src="@{/js/script.js}"></script>
</body>

</html>